 <!--====== SHOPPING CART PART START ======-->

    <div class="amm-shopping-cart-wrapper">
        <div class="amm-shopping-cart-canvas">
            <div class="amm-shopping_cart">
                <div class="amm-shopping_cart-top-bar d-flex justify-content-between">
                    <h6>Shopping Cart</h6>
                    <button class="amm-shopping-cart-close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <!-- shopping cart top bar -->
                <div class="amm-shopping_cart-list-items mt-30">
                    <ul>
                        <li>
                            <div class="amm-single-shopping-cart media">
                                <div class="cart-image">
                                    <img src="assets/images/cart-1.jpg" alt="Cart">
                                </div>
                                <div class="cart-content media-body pl-15">
                                    <h6><a href="#">Banana</a></h6>
                                    <span class="quality">QTY: 01</span>
                                    <span class="price">$205.00</span>
                                    <a class="remove" href="#"><i class="fa fa-times"></i></a>
                                </div>
                            </div> <!-- single shopping cart -->
                        </li>
                        <li>
                            <div class="amm-single-shopping-cart media">
                                <div class="cart-image">
                                    <img src="assets/images/cart-2.jpg" alt="Cart">
                                </div>
                                <div class="cart-content media-body pl-15">
                                    <h6><a href="#">Grape</a></h6>
                                    <span class="quality">QTY: 01</span>
                                    <span class="price-discount">$205.00</span>
                                    <span class="price-close">$205.00</span>
                                    <a class="remove" href="#"><i class="fa fa-times"></i></a>
                                </div>
                            </div> <!-- single shopping cart -->
                        </li>
                    </ul>
                </div> 
                <!-- shopping_cart list items -->
                <div class="amm-shopping_cart-btn">
                    <div class="total pt-35 d-flex justify-content-between">
                        <h5>Subtotal:</h5>
                        <p>$240.00</p>
                    </div>
                    <div class="cart-btn pt-25">
                        <a class="main-btn" href="#">View Cart</a>
                        <a class="main-btn main-btn-2" href="#">Checkout</a>
                    </div>
                </div>
            </div> <!-- shopping_cart -->
        </div>
        <div class="overlay"></div>
    </div>

    <!--====== SHOPPING CART PART ENDS ======-->