<!doctype html>
<html lang="en">


<!-- Mirrored from quomodosoft.com/html/appie/assets/appie-demo/error.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 May 2024 09:51:12 GMT -->
<head>
   
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title>Appie App Landing HTML Template</title>
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/assets/css/slick.css">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="/assets/css/custom-animation.css">
    <link rel="stylesheet" href="/assets/css/default.css">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="/assets/css/style.css">
  
  
</head>

<body>    
{{>header}}

    <!--====== PART ENDS ======-->

    <div class="appie-error-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="appie-error-content text-center">
                        <img src="/assets/images/error.png" alt="">
                        <span>Sorry!</span>
                        <h3 class="title">The page can’t be found.</h3>
                        <p>The page you're looking for isn't available. Try with another page or use the go home button below</p>
                        <a href="#">Back to Home <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PART ENDS ======-->

    <!--====== APPIE FOOTER PART START ======-->
    
    {{>footer}}
    
    <!--====== APPIE FOOTER PART ENDS ======-->


    <!--====== APPIE BACK TO TOP PART ENDS ======-->
    <div class="back-to-top">
        <a href="#"><i class="fal fa-arrow-up"></i></a>
    </div>
    <!--====== APPIE BACK TO TOP PART ENDS ======-->



    
    
    
    
    
    <!--====== jquery js ======-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    
    <!--====== wow js ======-->
    <script src="/assets/js/wow.js"></script>
    
    <!--====== Slick js ======-->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>

    <!--====== TweenMax js ======-->
    <script src="/assets/js/TweenMax.min.js"></script>
    
    <!--====== Slick js ======-->
    <script src="/assets/js/slick.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Main js ======-->
    <script src="/assets/js/main.js"></script>

</body>


<!-- Mirrored from quomodosoft.com/html/appie/assets/appie-demo/error.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 May 2024 09:51:13 GMT -->
</html>
